@import "vars";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

body {
  min-width: 320px;
  font-family: $main-fam;
}

.container {
  margin: 0 auto;
}

.header {
  padding: 17px 16px;
  background-color: $color-brown-gray;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 50;
  order: 1;
}

.btn-line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: $color-white;
  height: 2px;
  transition: 0.3s ease;
  &:nth-child(1) {
    top: 5px;
  }
  &:nth-child(2) {
    top: 15px;
  }
  &:nth-child(3) {
    top: 15px;
  }
  &:nth-child(4) {
    top: 26px;
  }
}

.menu-open .btn-line:nth-child(1) {
  transform: scaleX(0);
}
.menu-open .btn-line:nth-child(2) {
  transform: rotate(45deg);
}
.menu-open .btn-line:nth-child(3) {
  transform: rotate(-45deg);
}
.menu-open .btn-line:nth-child(4) {
  transform: scaleX(0);
}

.nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-brown-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100%);
  transition: 0.3s ease;
  z-index: 1;
  &__list {
    text-align: center;
    margin-bottom: 35px;
  }
  &__item {
    margin-bottom: 60px;
  }
  &__link {
    font-weight: 400;
    font-size: 50px;
    color: $color-white;
    position: relative;
    &::before {
      content: "";
      bottom: -5px;
      left: 0;
      position: absolute;
      width: 0;
      height: 1px;
      background-color: $color-white;
      transition: 0.3s;
    }
    &:hover::before {
      width: 100%;
    }
  }
}

.search__box {
  position: relative;
  width: 300px;
  border-bottom: 1px solid #b7b7b7;
  &-input {
    font-weight: 400;
    font-size: 25px;
    color: $color-light-gray;
    background: transparent;
    border: none;
    outline: none;
  }
  &-img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
}
input[type="text"]::placeholder {
  color: $color-light-gray;
  opacity: 1;
}

.menu-open .nav {
  transform: translateY(0%);
}

.top {
  background: url(../images/top-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 0 15px;
  &__inner {
    min-width: 300px;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
  }
  &__title {
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    padding: 43px 10px;
    color: $color-dark-gray;
    background: $background-light-gray-transparent;
    margin-bottom: 202px;
  }
  &__text {
    display: none;
  }
  &__btn {
    border: 1px solid #9b8c7c;
    background: $background-light-gray;
    padding: 11px 17px;
    font-family: $main-fam;
    font-weight: 400;
    font-size: 19px;
    color: $color-dark-gray;
    margin-bottom: 32px;
    transition: $transition;
    &:hover {
      background: $color-brown-gray;
    }
  }
}

.trending {
  padding: 64px 20px;
  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 105%;
    color: $color-black;
    text-align: center;
    margin-bottom: 12px;
  }
  &__text {
    font-family: $sec-fam;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: $color-black;
    text-align: center;
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 63px;
  }
  &__item {
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__link img {
    max-width: 100%;
    height: auto;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 131%;
    text-align: left;
    color: $color-black;
    margin-top: 10px;
    margin-bottom: 7px;
  }
  &__price {
    font-family: $sec-fam;
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    text-align: left;
    color: $color-medium-gray;
  }
}

.search {
  padding: 0 10px;
  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 105%;
    text-align: center;
    text-transform: capitalize;
    color: $color-black;
    margin-bottom: 12px;
  }
  &__text {
    font-family: $sec-fam;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: $color-black;
    margin-bottom: 64px;
  }
  &__name {
    text-align: center;
    margin-bottom: 64px;
  }
  &__name-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 38px 0;
    margin-bottom: 38px;
  }
  &__name-item {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: $color-brown-gray;
      height: 1px;
      width: 0;
      left: 0px;
      bottom: -10px;
      transition: 0.3s;
    }
  }
  &__name-item:hover {
    color: $color-brown-gray;
    &::after {
      width: 100%;
    }
  }
  &__name-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 105%;
    text-align: center;
    color: $color-black;
    &:hover {
      color: $color-brown-gray;
    }
  }

  &__name-btn {
    font-family: $sec-fam;
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    text-align: center;
    color: $color-black;
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
    & img {
      width: 20px;
      height: 20px;
      margin-left: 17px;
    }
  }
  &__picture {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &-box {
      width: 300px;
      height: 260px;
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.collection {
  padding: 64px 10px;
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 105%;
    text-transform: capitalize;
    text-align: center;
    color: $color-black;
    margin-bottom: 12px;
  }
  &__text {
    font-family: $sec-fam;
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    text-align: center;
    color: $color-black;
    margin-bottom: 64px;
  }
  &__img {
    text-align: center;
    margin: 0 auto;
  }
  &__img-first {
    display: none;
  }
  &__img-third {
    display: none;
  }
  &__img-sec {
    max-width: 300px;
    height: 100%;
    & img {
      width: 100%;
    }
  }
  &__btn {
    font-weight: 500;
    font-size: 17px;
    line-height: 124%;
    text-align: center;
    color: $color-white;
    background: $color-brown-gray;
    padding: 11px 22px;
    margin-top: 34px;
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.complete {
  padding: 0 10px 64px;
  &__box {
    text-align: left;
  }
  &__title {
    font-weight: 400;
    font-size: 30px;
    color: $color-black;
    margin-bottom: 34px;
  }
  &__text {
    font-family: $sec-fam;
    font-weight: 400;
    font-size: 18px;
    color: $color-black;
    margin-bottom: 34px;
  }
  &__btn {
    font-weight: 500;
    font-size: 17px;
    line-height: 124%;
    color: $color-white;
    background: $color-brown-gray;
    padding: 10px 47px;
    margin-bottom: 62px;
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__img {
    min-width: 0;
    &-box {
      width: 243px;
      margin-right: 25px;
    }
    &-link img {
      max-width: 100%;
      height: auto;
    }
    &-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 131%;
      color: $color-black;
      margin-top: 7px;
      margin-bottom: 7px;
    }
    &-price {
      font-family: $sec-fam;
      font-weight: 400;
      font-size: 16px;
      line-height: 131%;
      color: $color-medium-gray;
    }
  }
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}

.contacts {
  padding: 0 16px;
  &__form {
    text-align: center;
    padding: 0 22px 41px;
  }
  &__title {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: $color-black;
    margin-bottom: 55px;
    &-span {
      color: $color-brown-gray;
    }
  }
  &__input {
    font-family: $sec-fam;
    font-weight: 400;
    font-size: 17px;
    color: $color-light-gray;
    padding: 15px 0 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid $color-light-gray;
    width: 100%;
    margin-bottom: 24px;
  }
  &__btn {
    font-weight: 400;
    font-size: 17px;
    color: $color-white;
    background: $color-brown-gray;
    border: none;
    cursor: pointer;
    padding: 13px 110px;
    margin-top: 31px;
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__img {
    width: 100%;
  }
}
.follow {
  padding: 64px 0;
  text-align: center;
  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 105%;
    text-transform: capitalize;
    text-align: center;
    color: $color-black;
    margin-bottom: 11px;
  }
  &__link {
    font-family: $sec-fam;
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    text-transform: capitalize;
    text-align: center;
    color: $color-dark-gray-variant;
    transition: $transition;
    &:hover {
      color: $color-brown-gray;
    }
  }
  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    & img {
      width: 100%;
    }
  }
}

.footer {
  padding: 39px 47px;
  background: $background-light-gray;
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__inner {
    text-align: left;
    margin-bottom: 64px;
    &-text {
      font-family: $sec-fam;
      font-weight: 400;
      font-size: 14px;
      line-height: 114%;
      color: $color-black;
      margin-top: 27px;
      margin-bottom: 18px;
    }
    &-link {
      font-family: $sec-fam;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: $color-black;
      border-bottom: 1px solid #848484;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    &-phone {
      font-family: $sec-fam;
      font-weight: 400;
      font-size: 20px;
      line-height: 105%;
      color: $color-black;
      margin-bottom: 22px;
    }
    &-email {
      font-family: $sec-fam;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      color: $color-black;
      margin-bottom: 20px;
    }
  }
  &__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
    cursor: pointer;
    &-item {
      width: 33px;
      height: 33px;
      transition: $transition;
      &:hover {
        transform: scale(1.1);
      }
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background: $color-black;
    }
  }
  &__subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-text {
      font-family: $sec-fam;
      font-weight: 400;
      font-size: 17px;
      line-height: 124%;
      color: $color-black;
      margin-bottom: 32px;
    }
    &-form {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 5px;
    }
    &-input {
      width: 212px;
      border: none;
      border-bottom: 1px solid #a7a7a7;
      background: transparent;
      padding: 15px 0 3px;
      font-family: $sec-fam;
      font-weight: 400;
      font-size: 13px;
      line-height: 162%;
      color: $color-medium-gray-variant;
      outline: none;
    }
  }
}

@media (min-width: 640px) {
  .trending__list {
    gap: 35px;
  }
  .search__content {
    display: flex;
    justify-content: space-around;
  }
  .search__name {
    text-align: left;
    &-list {
      text-align: left;
    }
    &-btn {
      display: flex;
      align-items: center;
      text-align: left;
    }
  }
  .search__picture {
    flex-direction: column;
    &-box {
      width: 358px;
      height: 330px;
    }
  }
  .collection__img-sec {
    max-width: 358px;
    & img {
      width: 100%;
    }
  }
  .follow {
    padding-bottom: 90px;
    &__img {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      gap: 22px;
      margin-top: 42px;
      & img {
        max-width: 222px;
      }
    }
  }
}

@media (min-width: 940px) {
  .menu-btn {
    display: none;
  }
  .nav {
    position: relative;
    transform: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    &__list {
      display: flex;
      gap: 15px;
      margin-bottom: 0;
    }
    &__item {
      margin-bottom: 0;
    }
    &__link {
      font-size: 17px;
    }
  }
  .search__box {
    width: 201px;
    &-input {
      font-size: 15px;
    }
  }
  .top__inner {
    max-width: 470px;
    text-align: left;
    margin: 0;
    padding-top: 168px;
  }
  .top__title {
    background: none;
    color: $color-white;
    text-align: left;
    margin-bottom: 41px;
    padding: 0;
  }
  .top__text {
    display: block;
    font-family: $sec-fam;
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
    color: $color-white;
    text-align: left;
    margin-bottom: 33px;
  }
  .top__btn {
    margin-bottom: 200px;
  }
  .collection__img {
    display: flex;
    flex-direction: row;
    gap: 20px;
    &-first {
      display: flex;
      align-items: flex-end;
    }
    &-third {
      display: block;
    }
  }
  .footer {
    padding: 88px 15px 110px;
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
    }
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
  .nav {
    gap: 65px;
    &__list {
      gap: 50px;
    }
  }
  .search__content {
    justify-content: space-between;
  }
  .search__name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .search__picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "main main"
      "side1 side2";
    grid-gap: 26px 23px;
    &-box:nth-child(1) {
      width: 739px;
      grid-area: main;
    }
    &-box:nth-child(2) {
      grid-area: side1;
    }
    &-box:nth-child(3) {
      grid-area: side2;
    }
    &-img {
      width: 100%;
      height: auto;
    }
  }
  .collection {
    padding: 90px 10px;
    &__text {
      margin-bottom: 57px;
    }
    &__img {
      gap: 70px;
      &-sec {
        max-width: 425px;
        & img {
          width: 100%;
        }
      }
    }
  }
  .complete {
    padding: 0 10px 100px;
    &__content {
      display: flex;
      gap: 50px;
    }
    &__box {
      max-width: 346px;
    }
    &__title {
      width: 346px;
      margin-bottom: 66px;
    }
    &__text {
      margin-bottom: 42px;
    }
    &__btn {
      margin-bottom: 0;
    }
  }
  .contacts__content {
    display: flex;
    flex-direction: row-reverse;
    gap: 45px;
  }
  .contacts__form {
    text-align: left;
    padding: 0;
  }
  .contacts__title {
    text-align: left;
    margin-bottom: 86px;
  }
  .contacts__btn {
    text-align: left;
    margin-top: 60px;
  }
  .footer__list {
    gap: 110px;
  }
}
