$color-white: #fff;
$color-light-gray: #b7b7b7;
$color-dark-gray: #494949;
$color-black: #000;
$color-medium-gray: #767575;
$color-brown-gray: #9b8c7c;
$color-light-gray-duplicate: #b7b7b7;
$color-dark-gray-variant: #5c5c5c;
$color-medium-gray-variant: #8b8b8b;
$background-light-gray: #f0f0f0;
$background-light-gray-transparent: rgba(240, 240, 240, 0.6);

$main-fam: "Playfair Display", sans-serif;
$sec-fam: "Hind Vadodara", sans-serif;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
